<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test</title>
</head>
<body>
<table border="1">
  <tr>
    <th>usrNo</th>
    <th>usrId</th>
    <th>usrPw</th>
    <th>usrName</th>
  </tr>
  <tr th:each="data : ${testList}">
    <td th:text="${data.usrNo}"></td>
    <td th:text="${data.usrId}"></td>
    <td th:text="${data.usrPw}"></td>
    <td th:text="${data.usrName}"></td>
  </tr>
</table>
<a th:href="@{/test}">test페이지로 가기</a>
<a href="/thymeleafTest">ThymeleafTest 페이지로 가기</a>
</body>
</html>