<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test</title>
</head>
<body>
<div>타임리프 템플릿 문법 테스트 페이지</div>
<div>
  타임리프 사용 선언 : 상단에 html xmlns:th="http://www.thymeleaf.org"태그 붙여주기
</div>
<div>
  th:text = <span th:text="${thText}">message</span>
</div>
<br/>
<div>
  th:utext = <span th:utext="${thUtext}">message</span><br/>
  th:text = <span th:text="${thUtext}">message</span><br/>
</div>
<br/>
<div>
  th:value = <input type="text" size=40 th:value="${thValue}" />
</div>
<br/>
<div>
  th:with = <span th:with="temp=${thWith}" th:text="${temp}" />
</div>
<br/>
<div>
  th:each = 반복문 (item : ${items})<br/>
  th:switch = switch-case 문이 필요할 때 사용
  <div th:each="switch : ${thSwitch}">
    <ul th:switch="${switch}">
      <li th:case="1">[[${switch}]] : 일등</li>
      <li th:case="2">[[${switch}]] : 이등</li>
      <li th:case="*">[[${switch}]] : 나머지</li>
    </ul>
  </div>
</div>
<br/>
<div>
  th:if = 조건문이 필요할 때 사용, else문은 th:unless<br/>
  <ul th:each="data : ${thIf}">
    <li th:if="${data == '여자'}">여자입니다.</li>
    <li th:if="${data == '남자'}">남자입니다.</li>
  </ul>
</div>
<br/>
<div>
  form 만들기
  <form th:action="@{/test/join}" th:object="${testModel}" method="post">
    <div>
      <label th:for="usrId">아이디 : </label>
      <input type="text" th:field="*{usrId}" />
    </div>
    <div>
      <label th:for="usrPw">비밀번호 : </label>
      <input type="password" th:field="*{usrPw}" />
    </div>
    <div>
      <label th:for="usrName">이름 : </label>
      <input type="text" th:field="*{usrName}" />
    </div>
    <button type="submit" id="joinBtn">가입</button>
  </form>
</div>
<br/>
<div>
  <a href="test.html" th:href="@{/test/{itemId}(itemId=1, query='test')}">th:href = 원하는 url로 이동시킴, 변수지정 가능(key=value)</a>
  <a href="test.html" th:href="@{|/test/${1}|}">|...|을 이용해 직접 대입 가능</a>
</div>
<br/>
<div>
  th:onclick = onclick thymeleaf에서 사용 (파라미터를 넣으려면 ()안에 key=value 형태로 넣으면 됨)<br/>
  리터럴 대체 표현식 |...|를 사용하면 +없이 사용가능
  <button th:onclick="|location.href='@{/test}'|">이동</button>
</div>
<br/>
</body>
</html>