<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.daliyShop.mapper.LoginMapper">
    <select id="login" parameterType="hashmap" resultType="hashmap">
        SELECT
            usr_no,
            usr_id,
            usr_name,
            usr_mbl_no,
            usr_addr,
            usr_road,
            usr_postal,
            usr_addr_detail,
            usr_birth,
            usr_reg_date,
            usr_mod_date,
            usr_rank,
            usr_withdraw_yn
        FROM USR_INFO
        WHERE usr_id = #{userId}
            AND usr_pw = #{userPw}
    </select>
</mapper>