<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.daliyShop.mapper.ProfileMapper">
    <insert id="join" parameterType="hashMap">
        <selectKey resultType="java.lang.Long" keyProperty="usr_no" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
		INSERT INTO USR_INFO(usr_no, usr_id, usr_pw, usr_name)
        VALUES(#{usr_no},#{usrId},#{usrPw},#{usrName})
	</insert>

    <insert id="joinAuth">
        INSERT INTO USR_AUTH(usr_no, usr_auth)
        value (LAST_INSERT_ID(), 'BASIC')

    </insert>

    <select id="idCheck" resultType="int">
        select count(*) from USR_INFO where usr_id=#{usrId}
    </select>
</mapper>