<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Daily Shop | Account Page</title>

  <th:block th:replace="fragments/config :: config"></th:block>
</head>
<body>

  <!-- Start header section -->
  <div th:replace="fragments/header :: header"></div>
  <!-- End header section -->

  <!-- menu -->
  <div th:replace="fragments/menu :: menu"></div>
  <!-- /menu -->
 
  <!-- catg header banner section -->
  <section id="aa-catg-head-banner">
    <img src="img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
     <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>Account Page</h2>
        <ol class="breadcrumb">
          <li><a href="/index">Home</a></li>
          <li class="active">Account</li>
        </ol>
      </div>
     </div>
   </div>
  </section>
  <!-- / catg header banner section -->

  <!-- Cart view section -->
  <section id="aa-myaccount">
   <div class="container">
     <div class="row" style="float: none; margin: auto;">
       <div class="col-md-5" style="float: none; margin: auto;">
        <div class="aa-myaccount-area">
                <div class="aa-myaccount-register">
                 <h4>회원가입</h4>
                 <form th:action="@{/join}" id="account" class="aa-login-form" th:method="post">
                    <label for="usrId">아이디<span>*</span></label>
                    <button type="button" id="check" class="aa-browse-btn pull-right" style="margin-right: 0px;">중복확인</button>
                    <input type="text" placeholder="아이디" id="usrId" name="usrId"><span id="idCheck"></span>
                    <label for="usrPw">비밀번호<span>*</span></label>
                    <input type="password" placeholder="비밀번호" id="usrPw" name="usrPw" >
                    <label for="pwConfirm">비밀번호 확인<span>*</span></label>
                    <input type="password" placeholder="비밀번호 확인" id="pwConfirm" name="pwConfirm">
                    <label for="usrName">이름<span>*</span></label>
                    <input type="text" placeholder="이름" id="usrName" name="usrName">
                    <label for="usrMblNo">핸드폰 번호<span>*</span></label>
                     <button type="button" class="aa-browse-btn pull-right" style="margin-right: 0px;">인증</button>
                     <input type="text" placeholder="핸드폰 번호" id="usrMblNo" name="usrMblNo">
                     <label for="usrAddr">우편번호<span>*</span></label>
                     <button type="button" onclick="daumPostcode()" class="aa-browse-btn pull-right" style="margin-right: 0px;">찾기</button>
                    <input type="text" placeholder="우편번호" id="usrAddr" name="usrAddr" readonly>
                    <label for="usrRoad">지번주소<span>*</span></label>
                    <input type="text" placeholder="지번주소" id="usrRoad" name="usrRoad" readonly>
                    <label for="usrPostal">도로명주소<span>*</span></label>
                    <input type="text" placeholder="도로명주소" id="usrPostal" name="usrPostal" readonly>
                     <label for="usrAddrDetail">상세주소<span>*</span></label>
                    <input type="text" placeholder="상세 주소" id="usrAddrDetail" name="usrAddrDetail">
                     <label for="usrBirth">생년월일<span>*</span></label>
                    <input type="text" placeholder="생년월일" id="usrBirth" name="usrBirth">
                    <button id="accountBtn" type="submit" class="aa-browse-btn" style="width: 100%">등록</button>
                  </form>
                </div>
            </div>
         </div>
       </div>
     </div>
   </div>
  </section>

  <!-- / Cart view section -->

  <!-- footer -->
  <th:block th:replace="fragments/footer :: footerFragment"></th:block>
  <!-- / footer -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        $(document).ready(function(){

            var dupChk = false;


            $('#accountBtn').click(function(e){
                e.preventDefault();
                if($.trim($('#usrId').val()) == ''){
                    alert("아이디 입력.");
                    $('#usrId').focus();
                    return;
                }else if($.trim($('#usrPw').val()) == ''){
                    alert("패스워드 입력.");
                    $('#usrPw').focus();
                    return;
                }
                //패스워드 확인
                else if($('#usrPw').val() != $('#pwConfirm').val()){
                    alert('패스워드가 다릅니다.');
                    $('#usrPw').focus();
                    return;
                }

                if(dupChk==false){
                    alert("아이디 중복체크를 해주세요.");
                    return;
                }

                /* 패스워드 인코딩 */
                var password = passwordEncoding($('#usrPw').val());
                var param = {
                    "usrId":$('#usrId').val(),
                    "usrPw" : password,
                    "usrName" : $('#usrName').val(),
                    "usrMblNo" : $('#usrMblNo').val(),
                    "usrAddr" : $('#usrAddr').val(),
                    "usrRoad" : $('#usrRoad').val(),
                    "usrPostal" : $('#usrPostal').val(),
                    "usrAddrDetail" : $('#usrAddrDetail').val(),
                    "usrBirth" : $('#usrBirth').val()
                }
                $.ajax({
                    url: "/join",
                    type: "POST",
                    data: JSON.stringify(param),
                    dataType : "JSON",
                    contentType: 'application/json',
                    success: function(data){
                        location.href = "/login" ;
                    }
                });
            });





            $('#check').click(function(){
                $.ajax({
                    url: "/idCheck",
                    type: "GET",
                    data:{
                        "usrId":$('#usrId').val()
                    },
                    dataType : "JSON",
                    success: function(data){
                        if(data == 0 && $('#usrId').val().trim() != '' ){
                            dupChk=true;
                            var html="<span style='color: black'>사용가능한 아이디 입니다.</span><br/>";
                            $('#idCheck').empty();
                            $('#idCheck').append(html);
                        }else{

                            var html="<span style='color: red'>중복된 아이디 입니다.</span><br/>";
                            $('#idCheck').empty();
                            $('#idCheck').append(html);
                        }
                    },
                    error: function(request,status,error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    }
                });


            });

        });

        function daumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수

                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraRoadAddr !== ''){
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('usrAddr').value = data.zonecode;
                    document.getElementById("usrPostal").value = roadAddr;
                    document.getElementById("usrRoad").value = data.jibunAddress;
                    document.getElementById("usrAddrDetail").focus();
                }
            }).open();
        }
    </script>
</body>
</html>