<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Daily Shop | Home</title>

  <th:block th:replace="fragments/config :: config"></th:block>
</head>
<body>

<!-- Start header section -->
<div th:replace="fragments/header :: header"></div>
<!-- End header section -->

<!-- menu -->
<div th:replace="fragments/menu :: menu"></div>
<!-- /menu -->

<section id="aa-myaccount">
  <div class="container">
    <div class="row" style="float: none; margin: auto;">
      <div class="col-md-5" style="float: none; margin: auto;">
        <div class="aa-myaccount-area">
          <div class="aa-myaccount-register">
            <h4>Login</h4>
            <form id="login" class="aa-login-form" th:action="@{/loginProc}" th:method="post">
              <label for="userId">ID<span>*</span></label>
              <input type="text" id="userId" name="userId" placeholder="아이디">
              <label for="userPw">Password<span>*</span></label>
              <input type="password" id="userPw" name="userPw" placeholder="비밀번호">

              <label for="rememberme" class="rememberme"><input type="checkbox" id="rememberme"> Remember me </label>
              <button id="loginBtn" type="submit" class="aa-browse-btn" style="width: 100%">Register</button>
              <p class="aa-lost-password"><a href="#">Lost your password?</a></p>
              <div class="aa-register-now">
                Don't have an account?<a href="/account">Register now!</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<!-- footer -->
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
<!-- / footer -->
<script>
  $("#loginBtn").on('click', function(e){
      e.preventDefault();

      var param = {userId: $('#userId').val(), userPw: $('#userPw').val()};

      $.ajax({
          url: '/loginProc',
          type: 'post',
          data: JSON.stringify(param),
          dataType: 'json',
          contentType: "application/json",
          success: function(data){
              if(data.login == 'success'){
                  alert('로그인 성공');
                  localStorage.setItem('loginSession', 'success');
                  location.href = '/index';
              } else if(data.login == 'fail'){
                  alert('로그인 실패');
              }
          },
          error: function(errorThrown) {
              alert(errorThrown.statusText);
          }
      });
  })
</script>
</body>
</html>