<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Daily Shop | Home</title>

  <th:block th:replace="fragments/config :: config"></th:block>
</head>
<body>

<!-- Start header section -->
<div th:replace="fragments/header :: header"></div>
<!-- End header section -->

<!-- menu -->
<div th:replace="fragments/menu :: menu"></div>
<!-- /menu -->

<section>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4>Login or Register</h4>
  <form class="aa-login-form" action="/loginProc" method="post">
    <label for="usrId">Username or Email address<span>*</span></label>
    <input type="text" id="usrId" name="usrId" placeholder="Username or email">
    <label for="usrPw">Password<span>*</span></label>
    <input type="password" id="usrPw" name="usrPw" placeholder="Password">
    <button class="aa-browse-btn" type="submit">Login</button>
    <label for="rememberme" class="rememberme"><input type="checkbox" id="rememberme"> Remember me </label>
    <p class="aa-lost-password"><a href="#">Lost your password?</a></p>
    <div data-seq class="aa-register-now" >
      Don't have an account?<a href="account.html">Register now!</a>
    </div>
  </form>
</section>

<!-- footer -->
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
<!-- / footer -->

</body>
</html>